<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
	  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<appSettings>
		<add key="o" value="test.sqlite">
		</add>
		<add key="minmult" value="0.5">
		</add>
		<add key="maxmult" value="10.0">
		</add>
		<!--note this is a comment-->
	</appSettings>
</configuration>
